<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>案例</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="example">

  <div v-if="notBlank">
    <table>
      <thead>
      <tr>
        <th></th>
        <th>书籍名称</th>
        <th>出版日期</th>
        <th>价格</th>
        <th>购买数量</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(item,index) in books">
        <td>{{index+1}}</td>
        <td>{{item.bookName}}</td>
        <td>{{item.bookPrint}}</td>
        <td>{{item.bookPrice|showPrice}}</td>
        <td>
          <button @click="subQuantity(index)" v-bind:disabled="item.bookQuantity<=1">-</button>
          {{item.bookQuantity}}
          <button @click="addQuantity(index)">+</button>
        </td>
        <td>
          <button @click="removeBook(index)">移除</button>
        </td>
      </tr>
      <tr>
        <td colspan="6">{{totalPrice|showPrice}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div v-else>
    <span>购物车为空！</span>
  </div>

</div>
</body>
</html>
<script>
  const example = new Vue({
    el: '#example',
    data: {
      notBlank: true,
      books: [
        {
          bookName: '《算法导论》',
          bookPrint: '2006-09',
          bookPrice: 85,
          bookQuantity: 1
        },
        {
          bookName: '《UNIX编程艺术》',
          bookPrint: '2006-02',
          bookPrice: 59,
          bookQuantity: 1
        },
        {
          bookName: '《编程珠玑》',
          bookPrint: '2008-10',
          bookPrice: 39,
          bookQuantity: 1
        },
        {
          bookName: '《数据结构》',
          bookPrint: '2006-03',
          bookPrice: 128,
          bookQuantity: 1
        }
      ]
    },
    methods: {
      subQuantity(index) {
        const book = this.books[index];
        book.bookQuantity--;
        this.books.splice(index, 1, book);

        if (book.bookQuantity < 0) {
          this.books.splice(index, 1);
        }
        if (this.books.length === 0) {
          this.notBlank = false;
        }
      },
      addQuantity(index) {
        const book = this.books[index];
        book.bookQuantity++;
        this.books.splice(index, 1, book);
      },
      removeBook(index) {
        this.books.splice(index, 1);
        if (this.books.length === 0) {
          this.notBlank = false;
        }
      }
    },
    computed: {
      totalPrice() {
        //一般写法
        // let total = 0;
        // for (let i = 0; i < this.books.length; i++) {
        //   total += this.books[i].bookPrice * this.books[i].bookQuantity;
        // }
        // return total;

        //reduce函数写法
        return this.books.reduce((pre, book) => pre + book.bookPrice * book.bookQuantity, 0);
      }
    },
    filters: {
      showPrice(price) {
        return "￥" + price.toFixed(2);
      }
    }
  });


  //  js三个高阶函数 filter/map/reduce

  //示例需求：对数组过滤出小于100的元素，将它们乘以2，然后计算总和
  const nums = [10, 30, 45, 60, 200, 101, 233, 111];

  //1.filter 对数组元素进行筛选，返回值为true的元素存放到一个新数组中，并最终返回新数组
  let filterNums = nums.filter(function (item) {
    return item < 100;
  });
  console.log(filterNums);

  //2.map 对数组元素进行运算，返回值存放到一个新数组中，并最终返回新数组
  let mapNums = filterNums.map(function (item) {
    return item * 2;
  });
  console.log(mapNums);

  //3.reduce
  let reduceNums = mapNums.reduce(function (preValue, item) {
    return preValue + item;
  }, 0);
  console.log(reduceNums);


  //箭头函数 效果等同上面三个函数依次执行
  let total = nums.filter(item => item < 100).map(item => item * 2).reduce((pre, item) => pre + item, 0);
  console.log(total);
</script>